body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('../../public/assets/Sunny.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  height: 100vh;
  color: #fff;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}

/* Search Bar */ 
.search-bar {
  width: 80%; 
  margin-top: 20px; 
  display: flex;
  justify-content: center;
  margin-bottom: 30px; 
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.search-bar button {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #2980b9;
}


/* Weather Main Container*/
.weather-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 30px; 
}

.weather-left, .weather-right {
  width: 48%; 
  padding: 10px;
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 8px;
}

.weather-left {
  text-align: center;
}

.weather-right {
  text-align: center;
  margin-top: 20px;
}

/* 7 Day Forecast Containers */
.forecast {
  display: flex;
  justify-content: space-between;
  width: 80%;
  overflow-x: auto; 
  margin-top: 20px;
  gap: 20px;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px; 
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3); 
  border-radius: 5px;
  color: white;
}

.forecast-item img {
  width: 50px;  
  height: 50px;
}

.forecast-item p {
  margin: 5px 0;
}
